<h2>Name: <%= @game['name'] %></h2>
<p><%= @game['description'] %></p>
<h2>Name: <%= @strat['name'] %></h2>
<p><%= @strat['description'] %></p>
<p>
  <% 
    rating_tot = @strat['rating_tot'] || 0
    rating_amount = @strat['rating_amount'] || 1
    rating = rating_tot.to_f / rating_amount.to_f
  %>
  <%= "★" * rating.to_i + "☆" * (10 - rating.to_i) %>
</p>
<form action="/ratings_update/<%= @strat['id'] %>" method="post">
  <label>Betyg 0 - 10 <input name="strat_rating_tot" type="number" value="<%= rating.to_i %>" min="0" max="10"/></label>
  <input type="submit" value="nästa strat" />
</form>