<h2>Name: <%= @game['name'] %></h2>
<p><%= @game['description'] %></p>
<p>Tags:
<% 
if @tags != nil
  @tags.each_with_index do |tag, index| 
%>
  <a href="/tags/<%= tag['id'] %>" style="text-decoration: none; color: blue">
    <%= tag['name'] %>
  </a><%= "," unless index == @tags.size - 1 %>
<% 
  end
end 
%>
</p>
<a href="/tags/add/<%= @game['id'] %>" style="text-decoration: none; color: blue">
    lägg till tag!
</a>
<% if !@empty %>
  <h2>Name: <%= @strat['name'] %></h2>
  <p><%= @strat['description'] %></p>
  <p>
    <% 
      rating_tot = @strat['rating_tot'] || 0
      rating_amount = @strat['rating_amount'] || 1
      if rating_amount == 0
          rating_amount = 1
      end
      rating = rating_tot.to_f / rating_amount.to_f
    %>
    <%= "★" * rating.to_i + "☆" * (10 - rating.to_i) %>
  </p>
  <form action="/ratings_update/<%= @strat['id'] %>" method="post">
    <input type="hidden" name="has_changed" id="hasChanged" value="0"/>
    <label>Betyg 0 - 10 <input name="strat_rating_tot" type="number" value="<%= rating.to_i %>" min="0" max="10"/></label>
    <input type="hidden" value="<%= @id %>" name="game_id"/>
    <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">
    <input type="submit" value="nästa strat" />
  </form> 
<% end %>

<% if !session[:user_id].nil? %>
  <% if @admin == 1%>
    <a href="">alla strats</a>
    <form action="/games/<%= @id %>/delete" method="post" style="display: inline;">
      <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
      <button type="submit" style="color: red;">Radera spel</button>
    </form>

  <% end %>
  <h2>Ny strat</h2>
  <form action="/strats" method="post">
    <label>Namn: <input name="strat_name" type="text"/></label>
    <label>Beskrivning: <input name="strat_description" type="text"/></label>
    <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">
    <input type="hidden" value="<%= @id %>" name="game_id"/>
    <input type="submit" value="lägg till"/>
  </form>
<% end %>
