<a href="/games/<%= @id %>" style="text-decoration: none; color: black">< tillbaka</a>
<h2>Nuvarande tags:</h2>
<p>
    <% @alreadytags.each_with_index do |tag, index| %>
      <a href="/tags/<%= tag['id'].to_s %>" style="text-decoration: none; color: black">
        <%= tag['name'] %>
      </a><%= "," unless index == @tags.size - 1 %>
    <% end %>
</p>
<h2>Tags:</h2>

<p>
    <% @tags.each_with_index do |tag, index| %>
        <form action="/tags/add/<%= @id %>" method="post">
            <input type="hidden" value="<%= tag['id'] %>" name="tag_id">
            <input type="submit" value="<%= tag['name'] %>">
            <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">
        </form>
      <%= "," unless index == @tags.size - 1 %>
    <% end %>   
</p>

<h2>Lägg till tags:</h2>
<form action="/tags" method="post">
    <label>Namn: <input name="tag_name" type="text"/></label>
    <label>Beskrivning: <input name="tag_description" type="text"/></label>
    <input type="hidden" value="<%= @id %>" name="game_id">
    <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">
    <input type="submit" value="lägg till"/>
</form>