<h2>strats du skapat:</h2>
<ul>
<% p session[:user_id] %>
<% if session[:user_id].to_i == @id.to_i %>
  <% @strats.each do |strat| %>¨
  
    <li>
      <a href="/strats/<%= strat['id'] %>" style="text-decoration: none; color: black">
        <%= strat['name'] %>
      </a> 
      <form action="/strats/<%= strat['id'] %>/delete" method="post" style="display: inline;"><button type="submit" style="color: red;" >X</button></form>
      <form action="/strats/<%= strat['id'] %>/edit" method="get" style="display: inline;"><button type="submit" style="color: darkgoldenrod;" >Edit</button></form>
      <% 
        rating_tot = strat['rating_tot'] || 0
        rating_amount = strat['rating_amount'] || 1
        if rating_amount == 0
          rating_amount = 1
        end
        rating = rating_tot.to_f / rating_amount.to_f
      %>
      <%= "★" * rating.to_i + "☆" * (10 - rating.to_i) %>
    </li>
  <% end %>
<% end %>
</ul>